


body {

	 font-family: 'Kaushan Script', cursive;
	 background: url(../img/backimg.png) no-repeat center fixed;
	 background-size: cover;


}

#bigdiv {
	margin-top: 50px;
}




#bigdiv div {
	text-align: center;

	height: 200px;
	width: 600px;
	margin: 0 auto;

}


h1 {
	color: #f5d27d;
	padding-top: 10px;
	box-shadow:  0 8px 16px 0 rgb(146, 119, 4), 0 6px 20px 0 rgb(154, 150, 12);
}

/*#abc{
	margin-top: 20px;


 }*/


#Ultra {
	margin-top: 50px;
	box-shadow:  0 8px 16px 0 rgb(146, 119, 4), 0 6px 20px 0 rgb(154, 150, 12);
  width: 110px;
	height: 50px;
	background-color: #a11d26;
  color:#f2c768;
}

#sign {
	color: white;
}



#bottom {
	text-align: center;
}

#secretwish ,
 #keywords {
	color: white;
	font-size: 25px;

}
